<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Reed Rosenbluth </title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="/css/github.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="//use.typekit.net/sfl3uaw.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="main">
    <header>
      <a href="http://reedr95.github.com"><h1 class="myname"> Reed Rosenbluth </h1></a>
      <nav role="navigation">
        <ul>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="http://reedrosenbluth.com">Landing Page</a></li>
        </ul>
      </nav>
    </header>
    <div id="posts">
      {{ content }}
    </div>
    <footer>
      <p>Reed Rosenbluth 2012 | All Rights Reserved. </p>
    </footer>
  </div>
  <script src="/js/rainbow-custom.min.js"></script>
</body>
</html>
